aniso8601
gunicorn
asttokens
backcall
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
Flask
Flask-Cors
Flask-RESTful
Flask-SocketIO
fonttools
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scikit-learn==1.2.2
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
urllib3
wcwidth
Werkzeug
